/* universal colors */
:root {
  --pageColor: lightgrey;
  --containerColor: lightblue;
  --textBackgroundColor: #ebf4fc;
}

/* Standard Layout CSS */
body {
  background-color: var(--pageColor); 
}
.page-title {
  padding-top: 15px;
  font-family: monospace;
}

/* Editor CSS */
.editor-row {
  min-height: 120px;
}
.editor-container {
  background-color: var(--containerColor);
  max-width: 100%;
}
.editor-container h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2em;
  margin: 0;
}
#editor {
  background-color: var(--textBackgroundColor);
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  min-height: 120px;
  padding: 5px 5px 5px 5px;
  outline: none;
}

/* Preview CSS */
.preview-row {
  padding-top: 15px;
  min-height: 200px;
}
.preview-container {
  background-color: var(--containerColor);
}
.preview-container h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2em;
  margin: 0;
}
#preview {
  background-color: var(--textBackgroundColor);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 200px;
  padding: 5px 25px 5px 25px;
}
#preview h1 {
  border-bottom: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
#preview h2 {
  border-bottom: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
#preview h3 {
  margin-top: 18px;
  margin-bottom: 18px;
}
#preview pre {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}
#preview img {
  max-width: 100%;
}
#preview td, #preview tr, #preview th {
  border: 2px solid black;
  padding: 3px 5px 3px 5px;
}
#preview blockquote {
  border-left: 3px solid black;
  padding-left: 5px;
  margin-left: 25px;
}