#drum-machine {
  background-color: grey;
  padding: 10px, 25px, 10px 25px;
}

.drum-pad {
  border: solid;
  width: 100px;
  height: 80px;
  margin-top: 10px;
  margin-right: 8px;
  background-color: lightgrey;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.drum-pad:hover {
  cursor: pointer;
}

.drum-buttons {
  display:inline-block;
}
.display {
  display: inline-block;
  background-color: black;
  color: white;
  height: 50px;
  padding-top: 10px;
}